<h1> Sandwich List </h1>

<% @sandwiches.each do |s| %> 
<li> <%= link_to s.name, "/sandwiches/#{s.id}" %> </li>
<% end %>

<%= link_to "Login", "/users/sign_in"%>
<%= link_to "Sign Up", "/users/sign_up" %>
<%= link_to "Logout", "/users/sign_out", :method => :delete  %>





